---

redis_system_tuning: true

redis_bind: 127.0.0.1
redis_port: 6379
redis_password: false

#redis_unixsocket: "/var/run/redis/redis.sock"
redis_unixsocket: false
redis_unixsocketperm: 600

# Also limited by somaxconn and tcp_max_syn_backlog
redis_tcp_backlog: 511
redis_tcp_keepalive: 300
# Max connected clients at a time
redis_maxclients: 10000
# Close connection after idle timer
redis_timeout: 0

redis_pidfile: "/var/run/redis/redis.pid"
redis_loglevel: "notice"
redis_logfile: "/var/log/redis/redis.log"

redis_syslog_enabled: no
redis_syslog_ident: "redis"
redis_syslog_facility: "local0"

redis_db_dir: "/var/lib/redis/"
redis_db_name: "dump.rdb"
redis_save:
  - 900 1
  - 300 10
  - 60 10000

redis_maxmemory: false
redis_maxmemory_policy: "noeviction"
redis_maxmemory_samples: 5
